<!DOCTYPE html>
    <head>
        <title> Ambient assisted living </title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <div class="jumbotron" style="background-color: #05389A;">
            <h3 style="color: white"> Medical </h3>
        </div>
        <div class="row">
          <div class="col-sm-2">
              <a href="/">Dashboard</a> <br>
              <a href="/medical">Medical</a> <br>
              <a href="/social">Social</a> <br>
              <a href="">Security</a>
          </div>
          <div class="col-sm-10">
            Heartbeat per second: <span id="heartbeat"></span> <br>
            Current step-counter: <span id="stepcounter"></span> <br>
            <div class="row">
              <div class="col-sm-6" style="float:left;">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>Date and Time</th>
                      <th>Blood pressure measurement</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in bp %}
                    <tr>
                      <td>{{x[1]}}</td>
                      <td>{{x[0]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="col-sm-6" style="float:right;">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th>Date and Time</th>
                      <th>Glucose measurement</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in gc%}
                      <tr>
                        <td>{{x[1]}}</td>
                        <td>{{x[0]}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>       
            </div>
            
            <form method="POST" action="http://127.0.0.1:5000/medical/submit">
              <div class="form-group">
                <label for="glucoseInput">Glucose</label>
                <input type="text" class="form-control" name="glucoseInput" placeholder="Enter Glucose">
              </div>
              <div class="form-group">
                <label for="bloodInput">Blood pressure</label>
                <input type="text" class="form-control" name="bloodInput" placeholder="Enter Blood pressure">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
    </body>
</html>

<script>
  var interval = setInterval(function(){
    $.ajax({      
      type:"POST",
      dataType: "json",
      data:'data',
      url: "http://127.0.0.1:5000/medical",
      success: function(data){
        console.log(data.heartbeat+":"+data.stepcounter);
        $("#heartbeat").text(data.heartbeat);
        $("#stepcounter").text(data.stepcounter);
      }, error: function(request, error){
        console.log(request+" something went wrong");
      }
    });
  }, 1000);
</script>
