<!DOCTYPE html>
    <head>
        <title> Ambient assisted living </title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" style="background-color: #05389A;">
                <h3> Medical </h3>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <a href="/">Dashboard</a> <br>
                    <a href="/medical">Medical</a> <br>
                    <a href="">Social</a> <br>
                    <a href="">Security</a>
                </div>
                <div class="col-sm-10">
                  <p>Heartbeat: {{hb}}</p>
                  <p>Stepcounter: {{sc}}</p>
  
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th>Date and Time</th>
                            <th>Glucose Mesurment</th>
                            <th>Date</th>
                            <th>Blood Pressure</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>10:00 - 18/02/2020</td>
                            <td>34</td>
                            <td>18/02/2020</td>
                            <td>110</td>
                          </tr>
                          <tr>
                            <td>18:00 - 18/02/2020</td>
                            <td>32</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>10:00 - 20/02/2020</td>
                            <td>34</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td>18:00 - 20/02/2020</td>
                            <td>30</td>
                            <td>-</td>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </body>