<!DOCTYPE html>
    <head>
        <title> Ambient assisted living </title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div id="header" class="jumbotron" style="background-color: #05389A">
              <h3 style="color:white"> Security </h3>
              <p id="cp-holder" hidden >{{cp[0][1]}}</p>
              <p id="cp-shower" style="color: white"></p>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <a href="/index">Dashboard</a> <br>
                    <a href="/medical">Medical</a> <br>
                    <a href="/social">Social</a> <br>
                    <a href="/security">Security</a> <br>
                    <a href="/composite">Composite</a>
                </div>
                <div class="col-sm-10">
                    <p> This page is a collection of all the sensors present in the house. Here you should be able to see status of doors, windows, smoke alarm and the movement detection in the house.</p>
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th>Doors</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for x in dm %}
                          <tr>
                            <td>{{x[0]}}</td>
                            <b><td id="{{x[0]}}">{{x[1]}}</td></b>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <thead class="thead-light">
                          <tr>
                            <th>Windows</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for x in wm %}
                          <tr>
                            <td>{{x[0]}}</td>
                            <td id="{{x[0]}}">{{x[1]}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <thead class="thead-light">
                          <tr>
                            <th>Alarm</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for x in acsa %}
                          <tr id="smokerow">
                            <td>{{x[0]}}</td>
                            <td id="{{x[0]}}">{{x[1]}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <thead class="thead-light">
                            <tr>
                                <th> Movement</th>
                                <th> Last detected movement</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Movement sensor detection</td>
                                <td id="{{acmf[0][0]}}"> {{acmf[1][0]}} </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </body>
</html>

<script>

    var doAlarm = setInterval(function (){
      var hdrContainer = document.getElementById("header");
      var holder = document.getElementById("cp-holder");
      var shower = document.getElementById("cp-shower");
      if (holder.innerText == "alert all") {
        shower.hidden = false;
        shower.innerText = "Smoke detected. Sending out alarms!"
        if (hdrContainer.style.backgroundColor == "rgb(5, 56, 154)") {
          hdrContainer.style = "background-color: #cc0000";
        } else { 
          hdrContainer.style = "background-color: #05389A";     
        }
      } else {
        shower.hidden = true;
        hdrContainer.style = "background-color: #05389A";
      }
    }, 500);

    var interval = setInterval(function(){
      $.ajax({      
        type:"POST",
        dataType: "json",
        data:'data',
        url: "http://127.0.0.1:5000/security",
        success: function(data){
            $("#Maindoor").text(data.Maindoor);
            $("#Backdoor").text(data.Backdoor);
            $("#Bedroomwindow").text(data.Bedroomwindow);
            $("#Livingroomwindow").text(data.Livingroomwindow);
            $("#Kitchenwindow").text(data.Kitchenwindow);
            $("#Smokesensor").text(data.Smokesensor);
            $("#Movementsensor").text(data.Movementsensor);
            if(data.Smokesensor == "Smoke detected"){
                $("#smokerow").css("background-color", "red")
            }else{
                $("#smokerow").css("background-color", "white")
            }
        }, error: function(request, error){
          console.log(request+" something went wrong");
        }
      });
    }, 1000);
  </script>